h1,
h2 {
    text-align: center;
}

table,
form,
.userInfo,
#mensajes {
    margin: 0 auto;
    width: 50%;
}

img {
    width: 150px
}

body {
    /* background-image: url('./fondo.jpg'); */
    background-color: #F0F1F3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  700px 400px;
    grid-template-areas:'formProducto listadoProds' 'chat listadoProds';
}

.formProducto {
    padding-top: 70px;
    grid-area: formProducto;
}

.chat {
    grid-area: chat;
}

.listadoProds {
    padding-top: 70px;
    grid-area: listadoProds;
}

.p {
    font-weight: regular;
}